@using WebNotebook.Models;
@using System.Linq;
@model WebNotebook.Models.Notebook;
@{
    var default_img = "https://i.pinimg.com/564x/aa/39/8a/aa398a7716c8f0b75f7b60ee3225a5fc.jpg";
}

<div id="notebooks-header">
    <h4>Notebooks</h4>
    <div class="options">
        <p id="addNotebook"><img src="~/css/Images/plus.png" />Notebook</p>
        <p>
            <img src="~/css/Images/sort.png" id="sort-icon" />
            <select id="sortNotebooks">
                <option value="1">Name&nbsp;</option>
                <option value="2" selected>Date Modified&nbsp;</option>
                <option value="3">Date Created&nbsp;</option>
            </select>
        </p>
    </div>
</div>


<div id="notebooks">
    @foreach (Notebook notebook in ViewBag.Notebooks)
    {
        var style = "background-image: url(" + (notebook.Cover != null ? notebook.Cover : default_img) + ")";
        <div class="notebook">
            <div class="cover" style="@style" id="cover-@notebook.Id">
                <div class="notebook-actions">
                    <div class="notebook-all-actions" notebook-id="@notebook.Id">
                        <img class="notebook-action notebook-view" src="~/css/Images/view.png" title="View" notebook-id="@notebook.Id" />
                        <img class="notebook-action notebook-info" src="~/css/Images/info.png"
                             name="@notebook.Name" created="@notebook.Created" modified="@notebook.Modified"
                             cover="@notebook.Cover" notebook-id="@notebook.Id" notes="2" image="@notebook.DefaultImage"
                             data-toggle="modal" data-target="#myModal" title="Info" />
                        <img class="notebook-action notebook-delete" src="~/css/Images/trash.png" title="Delete" />
                    </div>
                </div>
            </div>
            <p class="title" id="notebook-title-@notebook.Id">@notebook.Name</p>
        </div>
    }
</div>
<div class="modal fade  come-from-modal right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Info</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="information-block">
                        <div class="notebook info-cover">
                            <div class="cover" id="info-url">
                            </div>
                            <p class="title custom-cover-btn" id="custom-cover">Custom Cover</p>
                            <input type='file' id="uploadImage" class="d-none" />
                        </div>
                        <div class="information">
                            <input type="text" id="info-name" />
                            <div class="flex-display">
                                <img src="~/css/Images/notes.png">
                                <p id="info-notes">
                                </p>
                            </div>
                            <div class="flex-display">
                                <img src="~/css/Images/date.png" />
                                <p id="info-date">
                                </p>
                            </div>
                            <div class="flex-display">
                                <img src="~/css/Images/date-modified.png" class="info-mod-img" />
                                <p id="info-date-modified">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="default-images">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="~/js/simpleNotify.js"></script>
<script>
    updateCoverBtn();
    updateDeleteBtn();
    updateInfo();

    $(document).ready(function () {
        $("#loader").addClass("d-none");
        $("main").removeClass("d-none");

    });

    $('#addNotebook').on('click', async function () {
        $("#preloader").removeClass("d-none");
        let new_notebook = null;

        await $.ajax({
            type: "POST",
            url: `/Notebook/Create?id=${@ViewBag.UserId}`,
            data: {},
            success: function (response) {
                new_notebook = response;
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });

                        $("#notebooks").prepend(`
                <div class="notebook">
                <div class="cover" style="background-image: url(${new_notebook.cover})" id="cover-${new_notebook.id}">
                <div class="notebook-actions">
                    <div class="notebook-all-actions" notebook-id="${new_notebook.id}">
                    <img class="notebook-action notebook-view" src="/css/Images/view.png" title="View" notebook-id="${new_notebook.id}"/>
                        <img class="notebook-action notebook-info" src="/css/Images/info.png"
                             name="${new_notebook.name}" created="${new_notebook.created}" modified="${new_notebook.modified}"
                             cover="${new_notebook.cover}" notebook-id="${new_notebook.id}" notes="2" image="${new_notebook.defaultImage}"

                             data-toggle="modal" data-target="#myModal" title="Info"/>
                        <img class="notebook-action notebook-delete" src="/css/Images/trash.png" title="Delete" />
                    </div>
                </div>
                </div>
                <p class="title" id="notebook-title-${new_notebook.id}">${new_notebook.name}</p>
                </div>`
                );

        updateDeleteBtn();
        updateCoverBtn();
        updateInfo();
        $("#preloader").addClass("d-none");

    });


    function updateDeleteBtn(){
            $('.notebook-delete').on('click', async function (e) {
         $(this).parent().parent().parent().parent().hide();
            await $.ajax({
            type: "POST",
            url: `/Notebook/Delete?id=${$(this).parent().attr('notebook-id')}`,
            data: {},
            success: function (response) {
                 simpleNotify.notify("Notebook successfully deleted", "success");
            },
            error: function (response) {
                console.log(response.responseText);
                simpleNotify.notify(response.responseText, "red");
            }
        });
     });
        }

        function updateInfo() {

            $('.notebook-info').on('click', function () {
                let monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

                $('#info-name').val($(this).attr('name'));
                $('#info-name').attr('notebook-id', $(this).attr('notebook-id'));

                $('#info-notes').text($(this).attr('notes') + ' Notes');

                let created = new Date($(this).attr('created'));
                let modified = new Date($(this).attr('modified'));

                $('#info-date').text(created.getDate() + " " + monthNames[created.getMonth()] + " " + created.getFullYear());
                $('#info-date-modified').text(modified.getDate() + " " + monthNames[modified.getMonth()] + " " + modified.getFullYear());

                let url = $(this).attr('cover') != null ? $(this).attr('cover') : "@default_img";
                $('#info-url').css('background-image', 'url("' + url + '")');


                $('.default-images').attr('notebook-id', $(this).attr('notebook-id'));
                getDefaultImages($(this).attr('image') != null ? $(this).attr('image') : 0, url);
        });



        $('#info-name').on('change', function () {
            let id = $(this).attr('notebook-id');
            let name = $(this).val();

            $.ajax({
            type: "POST",
            url: `/Notebook/Update?id=${id}&name=${name}`,
            data: {},
                success: function (response) {
                    $('#notebook-title-' + id).text(name);
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });

        })

        }

        function getDefaultImages(image_id, custom_url) {
             $.ajax({
            type: "GET",
            url: `/Notebook/GetDefaultImages`,
                 success: function (response) {

                     $(".default-images").html("");

                     $.each(response.data, function (id) {
                         if (this.id != image_id) {
                             var style = "background-image: url(" + (this.url) + ")";
                             $(".default-images").prepend(`
                                          <div class="notebook">
                                               <div class="cover default-image" style="${style}" images-id="${this.id}" default-image-id="${this.id}" id="selectimg${this.id}" url="${this.url}">
                                                     <div class="current-cover d-none" id="img${this.id}"></div>
                                               </div>
                                           </div>
                                     `);
                            updateDefaultImageBtn(this.id);

                         }
                     });

                     if (image_id != 0) {
                         $.each(response.data, function (id) {
                             if (this.id == image_id) {
                                 var style = "background-image: url(" + (this.url) + ")";
                                 $(".default-images").prepend(`
                                          <div class="notebook">
                                               <div class="cover default-image" style="${style}" images-id="${this.id}" default-image-id="${this.id}" id="selectimg${this.id}" url="${this.url}">
                                                     <div class="current-cover current-cover-show" id="img${this.id}"></div>
                                               </div>
                                           </div>
                                     `);
                                 updateDefaultImageBtn(this.id);
                             }
                         });
                     }
                     else {
                         var style = "background-image: url(" + (custom_url) + ")";
                         $(".default-images").prepend(`
                                          <div class="notebook">
                                               <div class="cover default-image" style="${style}" images-id="-1" default-image-id="-1" url="${custom_url}" id="selectimg-1">
                                                     <div class="current-cover current-cover-show" id="img-1"></div>
                                               </div>
                                           </div>
                                     `);
                         updateDefaultImageBtn(-1);
                     }

                 },

            error: function (response) {
                console.log(response.responseText);
            }
        });
        }

        function updateDefaultImageBtn(id) {
                $('#selectimg' + id).on('click', function () {
                    let notebook_id = $('.default-images').attr('notebook-id');
                $('.current-cover-show').addClass('d-none');
                $('.current-cover-show').removeClass('current-cover-show');

                $('#img' + id).removeClass('d-none');
                    $('#img' + id).addClass('current-cover-show');
                $('#info-url').css('background-image', 'url("' + $(this).attr('url') + '")');

                    var url = $(this).attr('url');
                $.ajax({
                    type: "POST",
                    url: `/Notebook/Update?id=${notebook_id}&cover=${$(this).attr('url')}`,
                    data: {},
                    success: function (response) {
                        $('#cover-'+ notebook_id).css('background-image', 'url("' + url + '")');
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
        }

        $('#custom-cover').on('click', function () {
            $('#uploadImage').click();
        });

        document.querySelector('input[type="file"]').addEventListener('change', async function() {
            if (this.files && this.files[0]) {
                try {
                    let data = new FormData();
                    data.append('file', this.files[0]);
                    data.append('upload_preset', 'pxswbvyr');
                    const res = await fetch(
                        'https://api.cloudinary.com/v1_1/dd6b2ufgk/image/upload',
                        {
                            method: 'POST',
                            body: data
                        }
                    )
                    const file = await res.json();
                    var fileUrl = file.secure_url;
                    $("#selectimg-1").parent().remove();
                    $(".current-cover-show").addClass("d-none");
                    $(".current-cover-show").removeClass("current-cover-show");

                    var style = "background-image: url(" + (fileUrl) + ")";
                    $(".default-images").prepend(`
                         <div class="notebook">
                              <div class="cover default-image" style="${style}" images-id="-1" default-image-id="-1" url="${fileUrl}" id="selectimg-1">
                                    <div class="current-cover current-cover-show" id="img-1"></div>
                              </div>
                          </div>
                                     `);
                    updateDefaultImageBtn(-1);
                    $('#info-url').css('background-image', 'url("' + fileUrl + '")');

                    let notebook_id = $('.default-images').attr('notebook-id');
                    $.ajax({
                        type: "POST",
                        url: `/Notebook/Update?id=${notebook_id}&cover=${fileUrl}`,
                        data: {},
                        success: function (response) {
                            $('#cover-' + notebook_id).css('background-image', 'url("' + fileUrl + '")');
                        },
                        error: function (response) {
                            console.log(response.responseText);
                        }
                    });
                }
                catch { }
            }
        });



        //SORT--------------------------------------
        var option = 2;
        var direction = 1;

        $('#sort-icon').on('click', function () {
            if ($(this).attr('src').includes('desc')) {
                $(this).attr('src', '/css/Images/sort.png');
                direction = 1;
            }
            else {
                $(this).attr('src', '/css/Images/sort-desc.png');
                direction = 2;
            }
            sortNotebooks();
        });

        $('#sortNotebooks').on('change', function () {
            option = this.value;
            sortNotebooks();
        });

    function sortNotebooks() {
        $("#loader").removeClass("d-none");
        $("main").addClass("d-none");
        $.ajax({
            type: "POST",
            url: `/Notebook/SortNotebooks?id=${$('#userId').text()}&option=${option}&direction=${direction}`,
            data: {},
            success: function (response) {
                $("#notebooks").html("");
                $.each(response.data, function (id) {
                    var default_image = "https://i.pinimg.com/564x/aa/39/8a/aa398a7716c8f0b75f7b60ee3225a5fc.jpg";
                    var style = "background-image: url(" + (this.cover != null ? this.cover : default_image) + ")";
                    $("#notebooks").append(`
                            <div class="notebook">
                                <div class="cover" style="${style}" id="cover-${this.id}">
                                    <div class="notebook-actions">
                                        <div class="notebook-all-actions" notebook-id="${this.id}">
                                            <img class="notebook-action notebook-view" src="/css/Images/view.png" title="View" notebook-id="${this.id}"/>
                                            <img class="notebook-action notebook-info" src="/css/Images/info.png"
                                                 name="${this.name}" created="${this.created}" modified="${this.modified}"
                                                 cover="${this.cover}" notebook-id="${this.id}" notes="2" image="${this.defaultImage}"
                                                 data-toggle="modal" data-target="#myModal" title="Info" />
                                            <img class="notebook-action notebook-delete" src="/css/Images/trash.png" title="Delete" />
                                        </div>
                                    </div>
                                </div>
                                <p class="title" id="notebook-title-${this.id}">${this.name}</p>
                            </div>`);
                });
                updateDeleteBtn();
                updateCoverBtn();
                updateInfo();
                $("#loader").addClass("d-none");
                $("main").removeClass("d-none");
            },
            error: function (response) {
                console.log(response.responseText);
                $("#loader").addClass("d-none");
                $("main").removeClass("d-none");
            }
        });
    }

    function updateCoverBtn() {
        $('.notebook-view').on('click', function () {
            var id = $(this).attr('notebook-id');
            $("#loader").removeClass("d-none");
            $("main").addClass("d-none");
            $('main').load(`/Note/GetByNotebook?id=${id}`);
            //$(".active").addClass('allowNotes');
        });
    }

</script>
